<%- include("partials/headerAR") -%>
<div class="test">
  <h1>تواصل معنا</h1>
  <p>Mobile: +90 555 123 45 67</p>
  <p>Phone: +90 444 1 234</p>
  <p>Fax: +90 444 1 234</p>
  <p>E-mail: name@companyName.com</p>
</div>


<%- include("partials/footerAR") -%>
