<%- include("partials/headerAR") -%>
<div class="test">
  <h1 class="textAR">مكتبة الصور</h1>
<div class="row">
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="/pics/othersPics/projectMap.PNG">
       <img src="/pics/othersPics/projectMap.PNG" alt="Lights" style="width:100%">
       <div class="caption">
         <p>Lorem ipsum...</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="/pics/othersPics/projectMap.PNG">
       <img src="/pics/othersPics/projectMap.PNG" alt="Nature" style="width:100%">
       <div class="caption">
         <p>Lorem ipsum...</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="thumbnail">
     <a href="/pics/othersPics/projectMap.PNG">
       <img src="/pics/othersPics/projectMap.PNG" alt="Fjords" style="width:100%">
       <div class="caption">
         <p>Lorem ipsum...</p>
       </div>
     </a>
   </div>
 </div>
</div>
</div>
<%- include("partials/footerAR") -%>
