.textAR{
	text-align: right;
}
.textEN{
	text-align: left;
}

.homeSlider{
	background: white;
	padding: 0 15% 0 15%;
}

.navbar{
	padding-bottom: 0;
	padding-top: 0;
}

body {
background-color: #fbf0f0;
text-align: center;

}
.logoimg{
	width: 3%;
}
.footer {

	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
      line-height: 60px;
	background-color: #7c7575;

}
.tapTitle{
	    padding: 3% 7% 0 7%;
}

.footer p {
margin: 0;
  color: grey;
}
.navi{
  background-color: #b8b0b0;
	/* text-align: right   !important; */
}
.test{
  height: 800;
  width: 800;

    padding: 3% 15%;
}

.test2{
  height: 800;
  width: 800;
background: white;
    padding: 3% 15%;
}
h2{
  color: #b8b0b0;
}
h6{
  color: #7c7575
}
/* img{
	text-align: right;
} */
.kitchen{
width:95%;
  margin-top: 10px
}

.carousel-inner img {
  margin: auto;
}

.sliderInfo{
	width: 50%;
}

.gallery{
	margin: 10px 0px 10px 0px;
}
